@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
.Header-container{
    background-image: url("../../images/Banner.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.384));
  height: 600px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: animatedBackground 10s linear infinite alternate;
}
.header-text{
    
  }
.btn-regular {
    border: none;
    background-color:aqua;
    padding: 5px 15px;
    border-radius: 10px;
    color:black;
    transition: 0.3s ease-in-out;
}
.btn-regular:hover{
    color: gray;
    padding:7px 20px ;
    
}